html, body {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}
body * {
  font-family: sky-regular;
  color: #fefefe;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1000;
  background-image: url('../asset/img/bg/bg.png');
  background-attachment: fixed;
  background-size: 100% 100%;
}

.logo-container {
  width: 100%;
  height:75px;
}

.logo {
  position:relative;
  left: 50%;
}

@font-face {
  font-family: 'sky-regular';
  src: url('../asset/font/SkyScreenRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'sky-bold';
  src: url('../asset/font/SkyScreenBold.ttf') format('truetype');
}